
<section id="about-section" class="about-wrap style1 ptb-100 bg-vista-white">
    <img src="assets/img/tub.svg" alt="Image" class="section-img style2 md-none">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-xl-6">
                <div class="about-img-area style1">
                    <img src="assets/img/about/about-shape-1.png" alt="Image"
                         class="about-shape-1 sm-none">
                    <img src="assets/img/about/water-drop-2.svg" alt="Image"
                         class="water-shape-2 md-none">
                    <div dir="rtl" class="about-img-slider about-slider-one swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="about-img-item">
                                    <div class="about-bg-one bg-f ab-bg-1"></div>
                                    <div class="about-bg-two bg-f ab-bg-2"></div>
                                    <div class="about-cat">
                                        <i class="flaticon-house"></i>
                                        <span>راه اندازی باغ خانگی</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-img-item">
                                    <div class="about-bg-one bg-f ab-bg-3"></div>
                                    <div class="about-bg-two bg-f ab-bg-4"></div>
                                    <div class="about-cat">
                                        <i class="flaticon-agriculture"></i>
                                        <span>کاشت و بهره برداری</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-img-item">
                                    <div class="about-bg-one bg-f ab-bg-5"></div>
                                    <div class="about-bg-two bg-f ab-bg-6"></div>
                                    <div class="about-cat">
                                        <i class="flaticon-watering-plants"></i>
                                        <span>نگهداری گیاهان</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-btn-wrap">
                            <div class="about-one-prev slider-btn style1"><i
                                    class="flaticon-right-arrow-1"></i></div>
                            <div class="about-one-next slider-btn style1"><i
                                    class="flaticon-left-arrow-2"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-content">
                    <div class="content-title">
                        <h2>ما باغ هایی را در سراسر ایران ایجاد و مدیریت می کنیم</h2>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به
                            مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و
                            متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده
                            است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم
                            به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و
                            متن را در بر می گیرد.</p>
                        <a href="about.html" class="btn style1"><i class="flaticon-book"></i>اطلاعات
                            بیشتر</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
