{% load static %}
<section class="hero-wrap style1 bg-racing-green">
    <img src="{% static 'index/assets/img/hero/leaf-1.png' %}" alt="Image" class="leaf-shape-3 lg-none">
    <img src="{% static 'index/assets/img/hero/leaf-4.svg' %}" alt="Image" class="leaf-shape-4  lg-none">
    <div class="container-fluid container-full">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-12">
                <div class="hero-content style1">
                    <h1 data-animation="slideInUp" data-animation-delay="800ms">راهی هوشمند و آسان
                        برای رشد و طراحی باغ شما</h1>
                    <p data-animation="slideInUp" data-animation-delay="1300ms">
                       متن دلخواه پاشاکود
                    </p>

                    <div class="hero-btn" data-animation="slideInUp" data-animation-delay="1600ms">
                        <a href="about.html" class="btn style1"><i class="flaticon-book"></i>اطلاعات
                            بیشتر</a>
                        <a href="about.html" class="btn style2"><i
                                class="flaticon-contact-book"></i>تماس با ما</a>
                    </div>
                    <ul class="promo-service list-style style1">
                        <li><a href="services.html">
                            <img src="{% static 'index/assets/img/hero/tools-icon.png' %}" alt="Image">
                            <span>کاشت گیاه</span>
                        </a></li>
                        <li><a href="services.html">
                            <img src="{% static 'index/assets/img/hero/watering-pot-icon.png' %}" alt="Image">
                            <span>نگهداری</span>
                        </a></li>
                        <li><a href="services.html">
                            <img src="{% static 'index/assets/img/hero/plant-icon.png' %}" alt="Image">
                            <span>بهره برداری</span>
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="hero-video-wrap">
                    <div class="hero-video-img-two">
                        <img src="{% static 'index/assets/img/hero/water-drop-1.png' %}" alt="Image" class="water-drop">
                        <img src="{% static 'index/assets/img/hero/hero-bg-4.jpg' %}" alt="Image">
                        <img src="{% static 'index/assets/img/hero/leaf-3.svg' %}" alt="Image"
                             class="leaf-shape-2 waving_right sm-none">
                        <img src="{% static 'index/assets/img/hero/gloves-1.svg' %}" alt="Image"
                             class="gloves-shape sm-none">
                    </div>
                    <div class="hero-video-img-one">
                        <img src="{% static 'index/assets/img/hero/hero-bg-3.jpg' %}" alt="Image">
                        <img src="{% static 'index/assets/img/hero/leaf-2.svg' %}" alt="Image"
                             class="leaf-shape-1 waving_left sm-none">
                        <a class="video-play circle"
                           href="https://www.youtube.com/watch?v=ihnUg0_eS8Q"><i
                                class="flaticon-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#about-section" class="scroll-to-bottom bounce"><i
            class="las la-arrow-alt-circle-down"></i></a>
</section>