{% load static %}
<section class="service-wrap ptb-100">
    <img src="{% static 'index/assets/img/tub.svg' %}" alt="Image" class="section-img style1 lg-none">
    <img src="{% static 'index/assets/img/service/service-shape-1.png' %}" alt="Image" class="service-shape-1">
    <div class="container">
        <div class="row">
            <div class="section-title style1 text-center mb-50">
                <h2>خدمات پاشاکود</h2>
                <p>
                   چه خدماتی رو ارائه می دهد
                </p>
            </div>
        </div>
        <div class="row justify-content-center pos-rel">
            <img src="{% static 'index/assets/img/service/leaf-5.png' %}" alt="Image" class="leaf-5">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1" data-animation="fadeIn"
                     data-animation-delay="300ms">
                    <div class="service-info">
                        <div class="service-header">
                            <div class="service-header-icon">
                                <i class="flaticon-house"></i>
                            </div>
                            <div class="service-header-title">
                                <span>پرورش در فضای باز</span>
                                <h3><a href="service-details.html">باغ های تجاری ارگانیک</a></h3>
                            </div>
                        </div>
                        <p class="service-desc">
                            متن دلخواه
                        </p>
                    </div>
                    <a href="service-details.html" class="service-img">
                        <img src="{% static 'index/assets/img/service/service-4.jpg' %}" alt="Image">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1" data-animation="fadeIn"
                     data-animation-delay="500ms">
                    <div class="service-info">
                        <div class="service-header">
                            <div class="service-header-icon">
                                <i class="flaticon-farming"></i>
                            </div>
                            <div class="service-header-title">
                                <span>پرورش در فضای باز</span>
                                <h3><a href="service-details.html">راه اندازی باغ ارگانیک</a></h3>
                            </div>
                        </div>
                        <p class="service-desc">
                            متن دلخواه
                        </p>
                    </div>
                    <a href="service-details.html" class="service-img">
                        <img src="{% static 'index/assets/img/service/service-5.jpg' %}" alt="Image">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1" data-animation="fadeIn"
                     data-animation-delay="700ms">
                    <div class="service-info">
                        <div class="service-header">
                            <div class="service-header-icon">
                                <i class="flaticon-gardening-1"></i>
                            </div>
                            <div class="service-header-title">
                                <span>پرورش در فضای باز</span>
                                <h3><a href="service-details.html">باغ محصولات ارگانیک</a></h3>
                            </div>
                        </div>
                        <p class="service-desc">
                           متن دلخواه
                        </p>


                    </div>
                    <a href="service-details.html" class="service-img">
                        <img src="{% static 'index/assets/img/service/service-6.jpg' %}" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-25">
            <div class="col-md-12">
                <p class="subtitle">خدمات باغبانی ما را بررسی کنید. <a class="link style1"
                                                                       href="services.html">مشاهده
                    خدمات <i class="flaticon-left-arrow-1"></i></a></p>
            </div>
        </div>
    </div>
</section>
