

<section class="testimonial-wrap style1 ptb-100 bg-racing-green">
    <div class="container">
        <div dir="rtl" class="testimonial-slider-one swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6">
                                <div class="client-img bg-f client-bg-1">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="client-quote">
                                    <div class="quote-icon-one">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم
                                        ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به
                                        سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت
                                        40 سال استاندارد صنعت بوده است.لورم ایپسوم ساختار چاپ و متن
                                        را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                    <div class="client-info">
                                        <h5>لیزا میسون</h5>
                                        <span>طراح وب</span>
                                    </div>
                                    <div class="quote-icon-two">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6">
                                <div class="client-img bg-f client-bg-2">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="client-quote">
                                    <div class="quote-icon-one">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم
                                        ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به
                                        سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت
                                        40 سال استاندارد صنعت بوده است.لورم ایپسوم ساختار چاپ و متن
                                        را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                    <div class="client-info">
                                        <h6>تونی استارک</h6>
                                        <span>طراح وب</span>
                                    </div>
                                    <div class="quote-icon-two">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6">
                                <div class="client-img bg-f client-bg-3">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="client-quote">
                                    <div class="quote-icon-one">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم
                                        ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به
                                        سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت
                                        40 سال استاندارد صنعت بوده است.لورم ایپسوم ساختار چاپ و متن
                                        را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                    <div class="client-info">
                                        <h6>جوزف آنستون</h6>
                                        <span>طراح وب</span>
                                    </div>
                                    <div class="quote-icon-two">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-pagination style1 testimonial-one-pagination"></div>
        </div>
    </div>
</section>

