
<section class="why-choose-wrap style1 pt-100 pb-75 bg-racing-green">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-xl-6">
                        <div class="content-title mb-30">
                            <h2 class="text-white">چرا ما را انتخاب می کنید</h2>
                            <p class="text-white">لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می
                                گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </div>
                        <div class="wh-item">
                            <div class="wh-icon">
                                <i class="flaticon-gardening"></i>
                            </div>
                            <div class="wh-text">
                                <h5><a href="about.html">باغبانی متنوع</a></h5>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم
                                    ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            </div>
                        </div>
                        <div class="wh-item">
                            <div class="wh-icon">
                                <i class="flaticon-agriculture"></i>
                            </div>
                            <div class="wh-text">
                                <h5><a href="about.html">بهترین خدمات باغبانی</a></h5>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم
                                    ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            </div>
                        </div>
                        <div class="wh-item">
                            <div class="wh-icon">
                                <i class="flaticon-growth"></i>
                            </div>
                            <div class="wh-text">
                                <h5><a href="about.html">طراحی و مدل سه بعدی</a></h5>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم
                                    ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            </div>
                        </div>
                        <a href="quote.html" class="btn style1"> درخواست نقل قول<i
                                class="flaticon-left-arrow-1"></i> </a>
                    </div>
                    <div class="col-xl-6">
                        <div class="wh-video-wrap">
                            <img src="assets/img/leaf-1.svg" alt="Image" class="wh-shape-1">
                            <div class="wh-video bg-f wh-bg-1">
                                <a class="video-play circle"
                                   href="https://www.youtube.com/watch?v=ihnUg0_eS8Q"><i
                                        class="flaticon-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-100">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-rating-1"></i>
                    <p>رضایت مشتریان</p>
                    <h2><span class="odometer" data-count="300">00</span> +</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-growth"></i>
                    <i class="flaticon-briefcase"></i>
                    <p>گیاهان کاشته شده</p>
                    <h2><span class="odometer" data-count="1500">00</span> +</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-farming"></i>
                    <p>سال ها تجربه</p>
                    <h2><span class="odometer" data-count="14">00</span> +</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-workers"></i>
                    <p>کارکنان با تجربه</p>
                    <h2><span class="odometer" data-count="40">00</span> +</h2>
                </div>
            </div>
        </div>
    </div>
</section>

