<section class="newsletter-wrap style1 bg-vista-white ptb-100">
    <img class="section-img style2 md-none" src="assets/img/tub.svg" alt="Image">
    <img class="nl-shape-2" src="assets/img/brick.svg" alt="Image">
    <div class="container">
        <div class="section-title style1 text-center mb-50">
            <h2>در خبرنامه ما مشترک شوید</h2>
            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                استاندارد صنعت بوده است. به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
        </div>
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <form action="#" class="newsletter-form">
                    <div class="form-group">
                        <input type="email" placeholder="ایمیل خود را وارد کنید">
                        <button type="submit"><i class="flaticon-left-arrow-1"></i>مشترک شدن
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>